*{
  padding: 0;
  margin: 0;
}

.header{
  height: 150px;
  background-color: #DDD;
}
.header h1{
  text-align: center;
}



/* Erorr pages */
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 150px;
}

.error__desc {
  text-align: center;
  font-size: 1.5em;
}

.error__msg {
  color: #999;
}
