*{
  padding: 0;
  margin: 0;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.header{
  margin: 0 auto;
  display: flex;
  height: 100px;
  background-color: #DDD;
}
.navbar{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.navbar .logo h1{
  font-weight: normal;
}
.navbar .search-area .search-bar{
  width: 300px;
  height: 30px;
  padding-left: 10px;
  border: solid 1px #999;
}

.navbar .search-area .search-btn{
  width: 60px;
  height: 30px;
}
.news-container{
  margin-top: 20px;
}
.news-container h2{
  text-align: center;
}
.main-content{
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news{
  padding: 10px;
  margin-top: 30px;
  border: 1px solid black;
  width:  22%;
}
.news-img{
  padding-left: 8%; 
  width: 90%;
  height: 180px;
  padding: 5px;
}
.news-p{
  height: 200px;
  padding: 5px;
  font-size: 1.2rem;
}
.news-date{
  text-align: right;}
/* Erorr pages */
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 150px;
}
.error__desc {
  text-align: center;
  font-size: 1.5em;
}

.error__msg {
  color: #999;
}
.eror-search{
  color:red;
  text-align: left;
  font-size: 1em;
}

.news-title{
  text-align: center;
  font-size : 1.3rem;
  font-weight: bold;
  border-bottom:1px solid black ;
  height: 80px;
}